<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- mybatis 支持多种日志格式，要根据项目中使用的日志指定输出日志方式，否则mybatis会自动去匹配，本项目中使用的是SLF4J -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>
</configuration>